$device-mobile: 375px;
$device-tablet: 768px;
$device-computer: 1024px;
$device-lg-computer: 1280px;
$device-xlg-computer: 1900px;

$font-title-mobile: 18px;
$font-mobile: 14px;
$font-title-tablet: 24px;
$font-tablet: 16px;

$color-green: #117167;
$color-black: #000000;
$color-gray: #B4BEBD;
$color-drak-gray: #888888;
$color-light-gray: #F0F0F0;
$color-white: #ffffff;